<!--The content below is only a placeholder and can be replaced.-->

<form [formGroup]="form" (ngSubmit)="save()" class="form-test">
  <app-form-field>
    <app-label>My label Input</app-label>
    <input appInput word="let me do" formControlName="name" placeholder="new test" type="text">
    <app-input-error>
    </app-input-error>
  </app-form-field>

  <!--<app-form-field>-->
    <!--<app-label>My label</app-label>-->
    <!--<app-checkbox appInput-->
                  <!--formControlName="agree"-->
                  <!--tabindex="1"-->
                  <!--[path]="'./assets/check-mark.svg'"-->
    <!--&gt;-->
      <!--<span>-->
        <!--some text-->
      <!--</span>-->
    <!--</app-checkbox>-->
    <!--<app-input-error>-->
    <!--</app-input-error>-->
  <!--</app-form-field>-->


  <app-form-field>
    <app-label>My label</app-label>
    <app-slide-box appInput
                  formControlName="agree2"
                  tabindex="1"
    >
      <span>
        some slide
      </span>
    </app-slide-box>
    <app-input-error>
    </app-input-error>
  </app-form-field>

  <app-form-field>
    <app-label>Label Radio</app-label>
    <app-radio-group formControlName="radio" appInput tabindex="2" >
      <app-radio-item [value]="1">Value 1</app-radio-item>
      <app-radio-item [value]="2">Value 2</app-radio-item>
      <app-radio-item [value]="3">Value 3</app-radio-item>
    </app-radio-group>
    <app-input-error>
    </app-input-error>
  </app-form-field>


  <button type="submit">submit</button>
</form>

<button (click)="dis()">dis</button>
<button (click)="enable()">enable</button>
